<div class="page-container">
  <h1 class="page-title">Home</h1>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search for a manga..."
      [(ngModel)]="searchText"
      (input)="onSearchChange(searchText)"
    />
  </div>
  <div class="manga-list">
    <div
      class="manga-item"
      *ngFor="let manga of filteredMangas | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
    >
      <div class="manga-cover">
        <img [src]="manga.image" [alt]="manga.name" />
      </div>
      <div class="manga-details">
        <div class="manga-title-container">
          <h2 class="manga-title">{{ manga.name }}</h2>
          <button
            *ngIf="isUserLoggedIn"
            class="add-manga-btn"
            [disabled]="loading"
            (click)="addMangaToList(manga.id, manga.name)"
          >
            +
          </button>
        </div>
        <p class="manga-description">
          {{ manga.description | slice: 0:80 }}...
        </p>
        <div class="manga-tags">
          <span class="tag" *ngFor="let tag of manga.tags | slice: 0:3">
            {{ tag.attributes.name.en }}
          </span>
          <span
            class="more-tags"
            (mouseenter)="showTagsModal(manga)"
            (mouseleave)="hideTagsModal()"
          >
            +{{ manga.tags.length - 3 }}
          </span>
          <div
            class="tags-modal"
            *ngIf="showingTags && currentManga?.id === manga.id"
          >
            <div class="modal-content">
              <h3>Tags</h3>
              <div class="all-tags">
                <span *ngFor="let tag of manga.tags" class="tag">
                  {{ tag.attributes.name.en }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls
    (pageChange)="onPageChange($event)"
    previousLabel="«"
    nextLabel="»"
    [responsive]="true"
  ></pagination-controls>
</div>
